@font-face {
  font-family: Atures;
  src: url("./fonts/Atures500PersonalUseOnly-GD6D.ttf");
}
* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  display: block;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

.btn-wrapper {
  align-items: flex-end;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.btn {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: Atures;
  font-size: 1.5em;
  height: 50px;
  margin-bottom: 2em;
  transition: all 0.3s ease 0s;
  width: 200px;
  z-index: 99;
  animation: appearBtn 0.5s ease-in 5s forwards; /*name - duration - timing - delay - fillmode */
  opacity: 0;
  color: #fff;
}

.btn-music {
  width: 50px;
  margin-left: 0.5em;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
}

.audio-wrapper {
  justify-content: flex-end;
}

@media screen and (max-width: 400px) {
  .btn {
    font-size: 1em;
    margin-bottom: 1em;
    width: 120px;
    height: 35px;
  }
  .btn-music {
    width: 35px;
  }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .btn {
    font-size: 1.2em;
    margin-bottom: 1.2em;
    width: 150px;
    height: 40px;
  }
  .btn-music {
    width: 40px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .btn {
    font-size: 1.4em;
    margin-bottom: 1.4em;
    width: 180px;
    height: 45px;
  }
  .btn-music {
    width: 45px;
  }
}

@keyframes appearBtn {
  to {
    opacity: 1;
  }
}

.audio-wrapper {
  position: absolute;
}
